extend ../Layout.pug

block header
  //- include ../components/Header.pug

block footer
  //- include ../components/Footer.pug

block css
  link(rel="stylesheet", href="../css/product.css")

block js
  script.
    product();

block body
  article#contact
    section.banner
      .content
        .slogan 產品資訊
    section.information
      .wrapper
        .info-box
          .info-item
            .title 產品規格
            figure.pic
              img(src="../images/product_pic_01.jpg", alt="")
            .content
              .txt 為TPU複合材及展現機能性提供最佳化解決方案,並可依照應用需求、加工需求，搭配專業的量身訂製建議，讓您迅速開發出理想產品、付諸實踐!
              #specification-btn.btn >>查看規格表
          .info-item
            .title 創新研發
            figure.pic
              img(src="../images/product_pic_02.jpg", alt="")
            .content
              .txt 材料與加工整合的先驅領導者，掌握產品趨勢新動態，南亞TPU在智慧穿戴、高透溼與高阻隔人體接觸，均已配合專業研發團隊，進行深入研究，歡迎您的參與為產品創新研發注入新契機!
          .info-item
            .title 加工運用
            figure.pic
              img(src="../images/product_pic_03.jpg", alt="")
            .content
              .txt 搭配眾多加工製程，無毒高週波及熱壓加工，減少車縫提升批量加工經濟性、絕佳防水效果、均勻牢固不漏氣、強化耐用性等特色。印刷加工可透過膜材高耐刮膜防護效果，有效保護印刷層，是膜材替代材料首選。
    section.carousel
      .wrapper
        h2 組合使用
        .txt 多樣複合的技術工藝，為您提供視覺多元層次的獨家壓紋選擇，機能耐候及多樣手感的體質呈現，南亞一站式解決方案完美達成，讓您輕鬆便捷即時取得。
        .container
          .main-carousel.product-main-carousel
            - for (var i = 1; i <= 7; i++)
              .carousel-item
                .item
                  figure.pic
                    img(src=`../images/PI_combination_application_0${i}.jpg`)
          .dot-box
            .pre-btn#product-pre
            .dot-carousel.product-dot-carousel
              - for (var i = 1; i <= 7; i++)
                .carousel-item
                  .pic(style=`background-image:url('../images/PI_combination_application_0${i}.jpg')`)
            .next-btn#product-next

    section.certification
      .wrapper
        h2 品質保證
        .txt 南亞品質，經的起您的驗證，通過生物相容、刺激過敏、細胞毒等測試，是讓您安心採購的可靠選擇，為持續保有品牌領導地位，我們持續致力於醫療、戶外、複合等全面性認證取得，歡迎您的詢問與建議
        .certification-box
          - var list = ["生物刺激過敏報告", "蘇州大學生物相容性", "生物相容細胞毒性","FDA 報告-TPU膠皮", "ITS防霉報告- ASTM G21"]
          each item,index in list
            .item
              figure.pic
                img(src=`../images/product_certification_0${index+1}.jpg`)
              .name= item
      
    section#specification-popup.popup
      .container
        .mask
        figure.pic
          img(src=`../images/product_specification.jpg`)

    section#certification-popup
      .container
        .mask
        .carousel-box
          .main
            .main-carousel.popup-main-carousel
              - for (var i = 1; i <= 5; i++)
                .carousel-item(data-index=i)
                  .item
                    figure.pic
                      img(src=`../images/product_certification_0${i}.jpg`)
            .dot-box
              .pre-btn#popup-pre
              .dot-carousel.popup-dot-carousel
                - var list = ["生物刺激過敏報告", "蘇州大學生物相容性", "生物相容細胞毒性","FDA 報告-TPU膠皮", "ITS防霉報告- ASTM G21"]
                each item in list
                  .carousel-item
                    .item 
                      .certification-name= item
              .next-btn#popup-next
          .pic-box
            - for (var i = 1; i <= 5; i++)
              .item.active(data-index=i)
                figure.pic
                  img(src=`../images/product_certification_0${i}.jpg`)



