extend ../Layout.pug

block header
  //- include ../components/Header.pug

block footer
  //- include ../components/Footer.pug

block css
  link(rel="stylesheet", href="../css/application.css")

block js
  script.
    application();

block body
  article#sport
    section.banner(style='background-image: url(../images/sport_banner.jpg)')
      .content
        .slogan #{$t.sport.banner.slogan}
    section.carousel
      .wrapper
        h2 #{$t.sport.carousel.title}
        .category #{$t.sport.carousel.category[0]}
        .category-btn
        .container
          .category-box
            each item,index in $t.sport.carousel.category
              .category-item= item
          .carousel-box
            - var sport = [2,2,1,2,1,7]
            each item,index in sport
              .category-carousel(class="carousel-0"+(index+1) class={"active":index==0,"lock-dot-carousel-d":item<=5,"lock-dot-carousel-m":item<=3})
                .main-carousel.application-main-carousel
                  - for (var i = 1; i <= item; i++)
                    .carousel-item
                      .item
                        figure.pic
                          img(src=`../images/sport_type0${index+1}_pic0${i}.jpg`)
                .dot-box
                  .pre-btn.pre-btn
                  .dot-carousel.application-dot-carousel
                    - for (var i = 1; i <= item; i++)
                      .carousel-item
                        .pic(style=`background-image:url('../images/sport_type0${index+1}_pic0${i}.jpg')`)
                  .next-btn.next-btn
    section.feature
      .wrapper
        h2 #{$t.sport.feature.title}
        .box
          each item,index in $t.sport.feature.item
            .item
              .txt.dot= item.txt




